.list-item {
  list-style-type: none;
  margin-right: 20px;
  margin-bottom: 10px;
}
.button {
  border: solid #db1c48 2px;
  background-color: white;
  border-radius: 20px;
  color: #db1c48;
  font-size: 15px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  outline: none;
}
.activeTab {
  background-color: #db1c48;
  color: white;
}
